<div class="container">
  <mat-toolbar class="toolbar">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon style="color: #707580;">menu</mat-icon>
    </button>
    <h1 class="app-name">Help Desk</h1>

    <button mat-icon-button [matMenuTriggerFor]="menu" class="rightMenu1">
      <mat-icon style="color: #52565f;">more_vert</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <span>Configurações</span>
      </button>

      <button mat-menu-item>
        <span>Suporte</span>
      </button>

      <button mat-menu-item>
        <span>FAQ</span>
      </button>
    </mat-menu>

  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #snav>
      <mat-nav-list>
        <a mat-list-item routerLink="home">
          <i class="material-icons">home</i>
          Home
        </a>

        <a mat-list-item routerLink="tecnicos">
          <i class="material-icons">account_circle</i>
          Técnicos
        </a>

        <a mat-list-item routerLink="clientes">
          <i class="material-icons">person</i>
          Clientes
        </a>

        <a mat-list-item routerLink="chamados">
          <i class="material-icons">support</i>
          Chamados
        </a>

        <a mat-list-item href="https://github.com/edson-araujo" target="_blank">
          <i class="material-icons">code</i>
          Github
        </a>

        <a mat-list-item (click)="logout()">
          <i class="material-icons">logout</i>
          Logout
        </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet class="router-outlet"></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
